<br><br><br><br><br><br>
<table class="table">
    <thead>
        <tr>
            <th>Personnage</th>
            <th>Film</th>
            <th>Acteur</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let personnage of personnages">
            <td>{{personnage.nomPers}}</td>
            <td>{{personnage.film.titre}}</td>
            <td>{{personnage.acteur.prenAct}} {{personnage.acteur.nomAct}}</td>
        </tr>
    </tbody>
    <h1 ng-if="errorMessage">{{errorMessage}}</h1>
</table>
